button {
    all: unset;
    cursor: pointer;

    font-family: "Ubuntu";
    font-size: 18px;
    color: white;

    background-color: #2E8B57;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgrey, -2px 2px lightgrey;

    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;

    margin : 5px;
  }